<div class="product-grid__card{% unless product.available %} product-grid__card--sold-out{% endunless %} js-card-flip">

  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% assign nr_of_lines = 0 %}
  {% for variant in product.variants %}
    {% unless variant.available %}
      {% assign nr_of_lines = nr_of_lines | plus: 1 %}
    {% endunless %}
  {% endfor %}

  <div class="product-grid__card-flip">

    <div class="product-grid__card-side product-grid__card-side--front">

      <a class="product-grid__card-link full-width-link js-card-link" href="{{ product.url | within: collection }}">
        <span class="visually-hidden">{{ product.title }}</span>
      </a>

      <div class="product-grid__image-wrapper">

        <img
          class="product-grid__image lazyload"
          src="{{ product.featured_image | img_url: '360x360' }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ product.featured_image.alt }}">

        <noscript>
          <img class="product-grid__image" src="{{ product.featured_image.src | img_url: '720x720' }}" alt="{{ product.featured_image.alt }}">
        </noscript>

      </div>

      <div class="product-grid__card-body">
        <h4 class="h4 product-grid__card-title">{{ product.title }}</h4>
        <p class="product-grid__card-excerpt">
          {{ product.description | strip_html | truncate: 120 }}
        </p>
      </div>

    </div>

    <div class="product-grid__card-side product-grid__card-side--back">

      <a class="product-grid__card-link full-width-link js-card-link" href="{{ product.url | within: collection }}">
        <span class="visually-hidden">{{ product.title }}</span>
      </a>

      <div class="product-grid__image-wrapper">

        <a class="product-grid__card-btn js-touch-btn" href="{{ product.url | within: collection }}">See product</a>

        <div class="product-grid__wave-container wavy-lines">
          {% assign left = -30 %}
          {% assign top = 50 %}
          {% for i in (1..nr_of_lines) %}
            <div class="wavy-lines__item" style="left: {{ left }}%; top: {{ top }}%;">
              <div class="wavy-lines__element"></div>
              <div class="wavy-lines__element wavy-lines__element--2"></div>
            </div>
            {% assign left = left | plus: 10 %}
            {% assign top = top | plus: 10 %}
          {% endfor %}
        </div>

        <img
          class="product-grid__image lazyload"
          src="{{ product.featured_image | img_url: '360x360' }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ product.featured_image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ product.featured_image.alt }}">

        <noscript>
          <img class="product-grid__image" src="{{ product.featured_image.src | img_url: '720x720' }}" alt="{{ product.featured_image.alt }}">
        </noscript>

      </div>

      <div class="product-grid__card-body">
        <ul class="variant-list">
          {% for variant in product.variants %}

            {% if product.has_only_default_variant %}
              {% assign variant_title = product.title %}
            {% else %}
              {% assign variant_title = variant.title %}
            {% endif %}

            {% if variant.available %}
              <li class="variant-list__item">
                {{ variant_title }}{% include 'icon-check' %}
              </li>
            {% else %}
              <li class="variant-list__item">
                {{ variant_title }}{% include 'icon-cross' %}
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>

    </div>

  </div>

</div>