<div class="product-grid__card{% unless product.available %} product-grid__card--sold-out{% endunless %}">

  <a class="full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  <div class="product-grid__image-wrapper js">
    <img
      class="product-grid__image lazyload"
      src="{{ product.featured_image | img_url: '360x360' }}"
      data-src="{{ img_url }}"
      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
      data-aspectratio="{{ product.featured_image.aspect_ratio }}"
      data-sizes="auto"
      alt="">
  </div>

  <noscript>
    <img class="" src="{{ product.featured_image.src | img_url: '720x720' }}" alt="{{ product.featured_image.alt }}">
  </noscript>

  <div class="product-grid__card-body">

    <h4 class="h4 product-grid__card-title">{{ product.title }}</h4>

    <p class="product-grid__card-excerpt">
      {{ product.description | strip_html | truncate: 120 }}
    </p>

  </div>

</div>